services:
  backend:
    build: ./server
    container_name: node-backend
    restart: unless-stopped
    ports:
      - "3001:3001"
    networks:
      - app-network

  frontend:
    build: ./client
    container_name: next-frontend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    networks:
      - app-network
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge
