services:
  backend:
    build: ./server
    container_name: node-backend
    restart: unless-stopped
    expose:
      - "3001"
    networks:
      - app-network

  frontend:
    build: ./client
    container_name: next-frontend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_APP_ENDPOINT=/api
    expose:
      - "3000"
    networks:
      - app-network
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - app-network
    depends_on:
      - frontend
      - backend

networks:
  app-network:
    driver: bridge
