version: "3.8"

services:
  backend:
    build: ./server
    container_name: node-backend
    restart: unless-stopped
    expose:
      - "3001"   # esposto solo alla rete interna
    networks:
      - app-network

  frontend:
    build: ./client
    container_name: next-frontend
    restart: unless-stopped
    ports:
      - "80:3000"
    depends_on:
      - backend
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=/api   # URL relativo
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
