.daw-title-container {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.daw-section-container {
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin-bottom: 200px;
}

.daw-container {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tracks-container {
    background-color: var(--clr-surface-tonal-a0);
    width: 300px;
    height: 600px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.tracks-handler-container {
    width: 100%;
    height: 600px;
    background-color: var(--clr-surface-tonal-a0);
    margin: 5px;
    border-radius: 10px;
}

.tracks-buttons-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}

.tracks-basic-container {
    width: 100%;
    height: 100%;
    margin: 5px;
}