.textsection-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--background-emelents);
    border: 1px solid var(--gray-0);
}

.text-section-title {
    align-self: flex-start;
    color: var(--text-color);
}

.text-section-subtitle {
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--gray-6);
}

.text-area {
    width: 1000px;
    height: 250px;
    resize: none;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    color: var(--light-text-color);
    font-family: "Ubuntu", sans-serif;
    background-color: var(--background-emelents);
    border: 1px solid var(--gray-0);
}

.text-area:focus {
    outline: none;
}

.genera-button {
    cursor: pointer;
    background-color: var(--gray-7);
    border: 1px solid var(--gray-7);
    color: var(--gray-0);
    width: 230px;
    height: 40px;
    margin-top: 30px;
    align-self: flex-end;
    border-radius: 10px;
    font-size: 15px;
}

.genera-button-non-disponibile {
    cursor: not-allowed;
    background-color: var(--gray-0);
    border: 1px solid var(--gray-0);
    width: 230px;
    height: 40px;
    margin-top: 30px;
    align-self: flex-end;
    border-radius: 10px;
    color: var(--gray-7);
    font-size: 15px;
}

.parole-custom-container {
    width: 1000px;
    height: 250px;
    overflow-y: scroll;
    scrollbar-width: none;
    resize: none;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: var(--text);
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 40px;
    border: 1px solid var(--gray-0);
    background-color: var(--background-emelents);
}

.player-audio-generato {
    align-self: flex-start;
}

.add-pronuncia-custom-title-container {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 1000px;
}

.add-pronuncia-button {
    align-self: center;
    justify-self: center;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    background-color: var(--gray-7);
    color: var(--gray-0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-pronuncia-button p {
    font-size: 30px;
}

.remove-pronuncia-button {
    background-color: var(--gray-7);
    color: var(--gray-0);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100px;
    text-align: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-pronuncia-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 18px;
    color: var(--gray-7);
    border-radius: 10px;
    background-color: var(--gray-0);
    margin: 5px;
}

.custom-pronuncia-input {
    color: var(--light-text-color);
    background-color: transparent;
    border: none;
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
}

.custom-pronuncia-input:focus {
    outline: none;
}

.pronuncia-button-conteiner {
    display: flex;
    flex-direction: row;
    width: 150px;
    align-items: center;
    justify-content: space-around;
}

.type-pronuncia-button {
    background-color: var(--section-background);
    color: var(--text);
    width: 40px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}