.saveloadpreset-container {
    width: 100%;
    margin-bottom: 20px;
    height: auto;
    max-height: 900px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.saveloadpreset-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    /* permette di crescere fino al max-height del container */
    min-height: 80px;
    /* altezza minima */
    justify-content: space-between;
}

.saveloadpreset-main-left {
    width: 100%;
    min-height: 80px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border: 1px solid var(--clr-surface-tonal-a10);
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
}

.saveloadpreset-main-right {
    width: 100%;
    height: 150px;
    margin: 5px 0px 5px 0px;
}
.saveloadpreset-salva-button{
    background-color: var(--clr-primary-a0);
    border-radius: 10px;
    width: 150px;
    border: none;
    padding: 15px;
    font-size: 16px;
    color: var(--clr-light-a0);
}

.preset-item {
    color: var(--clr-light-a0);
    padding: 15px 10px;
    width: 100%;
    border-bottom: 1px solid var(--clr-surface-tonal-a10);
    display: flex;
    align-items: center;
}

.preset-item-buttons {
    margin-left: auto;
    margin-right: 0px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.saveloadpreset-search {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--clr-surface-tonal-a10);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.saveloadpreset-search-input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 20px;
    color: var(--clr-light-a0);
    font-size: 18px
}

.saveloadpreset-search-input:focus {
    outline: none;
}

.saveloadpreset-carica-button {
    background-color: var(--clr-success-a0);
    border-radius: 10px;
    width: 80px;
    border: none;
    padding: 10px;
    margin: 9px;
    font-size: 15px;
    color: var(--clr-light-a0);
}

.saveloadpreset-elimina-button {
    background-color: var(--clr-danger-a0);
    border-radius: 10px;
    width: 80px;
    border: none;
    padding: 10px;
    margin: 9px;
    font-size: 15px;
    color: var(--clr-light-a0);
}


.dialog-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dialog-box {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
  color : #333;
  user-select: text;
}

.dialog-box h3{
    cursor: pointer;
}

.dialog-input {
  width: 100%;
  padding: 8px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.dialog-cancel {
  background: #e0e0e0;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.dialog-delete {
  background: #d33;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.dialog-delete:disabled {
  background: #999;
  cursor: not-allowed;
}
