.dashboard-container {
    margin-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    width: 100vw;
    align-items: center;
    overflow: scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.section-one {
    margin-top: 25px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dashboard-footer {
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: var(--background-emelents);
    border-top: 1px solid var(--gray-0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-5);
}

.created-by {
    text-align: center;
    font-size: 15px;
}

.created-by a {
    color: var(--gray-7);
}

.voice-recents-container{
    align-self: flex-start;
}