.recentcreations-container{
  width: 400px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  color: var(--text-color);
  background-color: var(--background-emelents);
  border: 1px solid var(--gray-0);
  margin-left: 10px;
  padding:0px 15px 20px 15px;
  border-radius: 15px;
  margin-top: 10px;
}