@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

.globalmenu-container {
    position: relative;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--light-text-color);
    font-family: "Momo Trust Display", sans-serif;
    font-size: 20px;
}

.globalmenu {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.globalmenu label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    border-bottom: 2px solid transparent;
}

.globalmenu label.selected {
    border-bottom: 2px solid var(--light-text-color);
}

.globalmenu-title {
    margin-bottom: 20px;
}