.globalmenu-container {
    position: relative;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.globalmenu {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.globalmenu label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-bottom: 2px solid transparent;
}

.globalmenu label.selected {
    border-bottom: 2px solid var(--clr-light-a0);
}

.globalmenu-title {
    margin-bottom: 20px;
}