.musicpicker-container {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  color: var(--text-color);
  background-color: var(--background-emelents);
  border: 1px solid var(--gray-0);
  margin-left: 10px;
  padding: 15px;
  border-radius: 15px;
}

.music-section-title {
  padding: 20px;
  padding-left: 0px;
}

.music-list-container {
  width: 100%;
  height: 640px;
  overflow-y: scroll;
  flex-direction: column;
  scrollbar-width: none;
  background-color: var(--background-emelents);
}

.music-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 18px;
  color: var(--gray-7);
  border-radius: 10px;
  background-color: var(--gray-0);
  margin: 5px;
}

.music-item:hover {
  background-color: var(--gray-2);
  color: var(--gray-7);
}

.music-name {
  font-size: 17px;
  font-weight: 600;
  flex: 1;
  margin-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.voice-audio {
  flex-shrink: 0;
  width: 200px;
  outline: none;
  border-radius: 6px;
}

.music-item.selected {
  background-color: var(--gray-7);
  color: var(--gray-0);
}

.play-pause-btn {
  background-color: var(--clr-surface-tonal-a20);
  color: var(--clr-light-a0);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-pause-btn * {
  font-size: 12px;
}

.music-section-subtitle {
  margin-bottom: 20px;
  color: var(--gray-6);
}