.login-container {
    border-radius: 16px;
    padding: 40px 35px;
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.logo-text {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--text-color);
}

.login-text {
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 15px;
}

.input-field {
    border: none;
    border-bottom: 1px solid var(--gray-1);
    background-color: transparent;
    padding: 12px;
    font-size: 0.95rem;
    color: var(--clr-light-a0);
    outline: none;
    transition: all 0.25s ease;
}

.input-field::placeholder {
    color: var(--clr-surface-a50);
}

.input-field:focus {
    border: none;
    border-bottom: 1px solid var(--gray-1);
}

.button {
    background-color: var(--gray-1);
    border: 1px solid var(--gray-1);
    color: var(--text-color);
    border-radius: 10px;
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--background);
    border: 1px solid var(--gray-1);
}

.footer-text {
    font-size: 0.85rem;
    text-align: center;
    color: var(--gray-5);
}

.t2s-mini-logo {
    color: var(--text-color);
}